p{
   text-indent: 2em; 
   line-height: 2;
}
p.zuhe{
    color: hotpink;
}
.zuhe li{/*表示选中class为zuhe的元素的后代元素li*/
color: darkblue;
}/*ol有序，ul,无序*/
.abc .bcd .def,p{/*有个空格;这是表示选中abc下边的bcd*//*可以选择多个元素的后代元素的后代元素，“，P”表示选择器可以并列*/
    color: #008c8c;
    font-size: 3em;
}
div.zuhe{
    background: cornflowerblue;
}
